[Unit]
Description=Mount OrangeFS server
Requires=orangefs-client.service
Requires=network-online.target
After=network-online.target

[Mount]
Where=/scratch
What=tcp://n1:3334/orangefs
Type=pvfs2

[Install]
WantedBy=multi-user.target
