[Unit]
Description=HTTP/1-2-3 web server with automatic HTTPS

[Container]
ContainerName=caddy
Image=docker.io/library/caddy
PublishPort=80:80/tcp
PublishPort=443:443/tcp
PublishPort=443:443/udp

# Create and modify each `/etc/containers/systemd/*.volume' file.
# See `[Volume]' in `podman-systemd.unit' manual.
Volume=caddy.volume:/etc/caddy
Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config

[Service]
Restart=always

# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
